.footer{
    height: 60px;
    padding: 10px;
    text-align: center;
    background-color: white;
}
.footer_conteiner{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;

}

.footer_small {
    padding: 10px;
    text-align: center;
    background-color: white;

}