
.footer{
    width: calc(100%-250px);
    margin-left: 70px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.footer_small {
    width: calc(100%-250px);
    margin-left: 250px;
    padding: 10px;
    text-align: center;
    background-color: white;

  }